<div class="add-transfer-out">
    <div class="datatable">
        <div class="content">
            <table class="fixed">
                <tr class="header">
                    <th class="header column-name text-center">Stock Allocation Name</th>
                    <th class="header column-name text-center">Products</th>
                    <th class="header column-name text-center">Variants</th>
                    <th class="header column-name text-center">StockOnHand</th>
                    <th class="header column-name text-center">AllocationQuantity</th>
                    <th class="header column-name text-center">Quantity</th>
                </tr>
                <tr *ngFor="let item of allocationTransactionTransferOutItemsViewModel; let i = index">
                    <th class="header column-name text-center">
                        <div class="cell">
                            {{item.stockAllocationName}}
                        </div>
                    </th>
                    <th class="header column-name text-center">
                        <div class="cell">
                            <ng-select class="custom"
                                       [disabled]="true"
                                       [hideSelected]="true"
                                       [items]="products"
                                       bindLabel="name"
                                       bindValue="id"
                                       placeholder="Select product"
                                       [(ngModel)]="item.productId"
                                       [clearable]=false>
                            </ng-select>
                        </div>
                    </th>
                    <th class="header column-name text-center">
                        <div class="cell">
                            <ng-select class="custom"
                                       [disabled]="true"
                                       [hideSelected]="true"
                                       [items]="item.variants"
                                       bindLabel="name"
                                       bindValue="id"
                                       placeholder="Select variant"
                                       [loading]="item.isVariantsLoading"
                                       [(ngModel)]="item.variantId"
                                       [clearable]=false>
                            </ng-select>
                        </div>
                    </th>
                    <th class="header column-name text-center">
                            <div class="cell">
                                {{item.stockOnHand}}
                            </div>
                        </th>
                    <th class="header column-name text-center">
                        <div class="cell">
                            {{item.maxQuantity}}
                        </div>
                    </th>
                    <th class="header column-name text-center">
                        <div class="cell">
                            <input class="number-updown"
                                   type="number"
                                   name="input"
                                   (change)="onQuantityChange(i)"
                                   [(ngModel)]="item.quantity"
                                   oninput="validity.valid||(value='');"
                                   [min]="0"
                                   [max]="item.maxQuantity">
                        </div>
                    </th>                    
                </tr>
            </table>
        </div>
        <app-loading-spinner [hiddenLoadingIndicator]="hiddenLoadingIndicator"></app-loading-spinner>
    </div>
    <div class="group-button">
        <div class="btn-item">
            <button type="button"
                    class="btn btn-outline-secondary back-btn"
                    (click)="onClickBackButton()">Back</button>
        </div>
        <div class="btn-item">
            <button type="button"
                    class="btn btn-outline-secondary reset"
                    (click)="onClickSubmitButton()">Submit</button>
        </div>
    </div>
</div>
