@import '../../../../variable.scss';
.form {
    &__validation-text{
        font-size: 16px;
        color: #dc3545
    }
}

.header-small {
    width: 50px;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

button:disabled {
    cursor: not-allowed;
}

.datatable{
    height: 100%;
    padding: 10px 0px;

    .content {
        padding: 10px 0;
    }

    table,
    th,
    td {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        padding: 5px 5px;
    }

    
    table.fixed {
        table-layout: auto;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        border-spacing: 0;

        .header {
            background-color: rgba(0, 0, 0, .03);
        }

        .cell {
            display: flex;
            justify-content: center;
            .custom {
                width: 200px;

                .item-select {
                    border-bottom: 1px solid #ccc;
                }
            }

            .ng-dropdown-panel {
                border: unset;
            }

            .ng-dropdown-panel-items.scroll-host{
                border: 1px solid #ccc;
                border-radius: 4px;
                width: fit-content;
                min-width: 200px;
            }

            .number-updown {
                height: 36px;
                width: 100px;
                padding-left: 10px;
            }

            .icon {
                cursor: pointer;
            }
        }
        .text-ellipsis {
            width: 50px;
            overflow: hidden;
            text-overflow: ellipsis; 
        }

    }

    .currency-option{
        display: flex;
        justify-content: flex-end;
    }

    .form-control[readonly]{
        background-color: #ffffff;
    }

    .text-box{
        border: 1px solid #000000;
        height: auto;
        width: auto;
        min-width: 200px;
        max-width: 300px;
        border-color: #cccccc;
        border-radius: 5px;
        background-color: #ffffff;
        overflow: hidden;
        cursor: pointer;
        &__input{
            float: left;
            font-size: inherit;
            display: table;
            width: auto;
            max-width: 300px;
            padding: 10px;
        }
        &__empty{
            float: left;
            font-size: 18px;
            padding: 4px 0px 4px 10px;
            color: #a9a9a9
        }
    }
    .field__tag{
        width: auto;
        max-width: 150px;
        margin: 5px;
        border-radius: 3px;
        padding: 2px 5px 5px 5px;
        background: #eeeeee;
        border: 1px #ddd solid;
        float: left;

        &-title{
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0px;

            &:hover{
                visibility: visible;
            }
        }

        &:hover .open {
            visibility: inherit;
        }

        &-tooltip-wrapper {
            position: absolute;
            visibility: hidden;
        }

        &-tooltip {        
            white-space: nowrap;
            line-height: 16px;
            display: flex;
            margin-top: 5px;
            position: absolute;
            top: 8px;
            left: -8px;
            width: auto;
            background-color: #63737c;
            border-radius: 3px;
            z-index: 1;
            padding: 7px 4px;
            color: #fff;
        }
    }
}
