.file-upload {
    margin-left: 10px;
    width: 100%;

    .input-folder {
        width: 90%;
        
        input {
            width: 100%;
        }
    }

    .output-folder {
        margin-top: 10px;
        width: 90%;

        input {
            width: 100%;
        }
    }
}

.modal-header {
    border-radius: unset;
    background-color: rgba(0,0,0,.03);
    
}

.modal-footer {
    border-radius: unset;
    background-color: rgba(0,0,0,.03);
    
}

.modal-body {
    min-height: 150px;
}

.file-upload {
    padding: 0 15px;
}

.file-info {
    padding-top: 5px;
    font-size: 15px;
}

.text-success {
    word-break: break-word;
}

.text-danger {
    word-break: break-word;
}