<div class="modal-header">
  <h5 class="modal-title">Add Device</h5>
</div>
<div class="modal-body">
  <form [formGroup]="addValueForm">
    <fieldset>
      <div class="form-group">
        <div class="add-control">
          <label class="lable-control">Store</label>
          <ng-select #selection formControlName="store" [(ngModel)]="selectedStore" [items]="stores"
              bindValue="id" bindLabel="name" placeholder="Select Store" class="custom select-field"
              [clearable]=false>
          </ng-select>
        </div>

        <div class="add-control">
            <label class="lable-control">Name</label>
            <input class="form-control" formControlName="name" placeholder="Name" [ngClass]="{'is-invalid': (addValueForm.get('name')?.dirty) &&
                                                        !addValueForm.get('name')?.valid}">
            <span class="error invalid-feedback" *ngIf="addValueForm.get('name')?.dirty&&
              addValueForm.get('name')?.errors">
                <span *ngIf="addValueForm.get('name')?.errors?.required || addValueForm.get('name')?.errors?.nospace">
                    Name is required!
                </span>
            </span>
        </div>

        <div class="add-control">
            <label class="lable-control">Description</label>
            <input class="form-control" formControlName="description" placeholder="Description">
        </div>
      </div>
    </fieldset>
  </form>
  <app-loading-spinner [hiddenLoadingIndicator]="hiddenLoadingIndicator"></app-loading-spinner>
</div>
<div class="modal-footer">
  <button [disabled]="addValueForm.invalid || isDeactive" class="btn btn-secondary" type="button" (click)="onSave()">Save</button>
  <button class="btn btn-secondary" type="button" (click)="onDismiss('Cross click')">Cancel</button>
</div>