<div class="modal-header">
    <h5 class="modal-title">Update Channel</h5>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="updateValueForm">
      <fieldset>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" 
          formControlName="name" 
          placeholder="Name" 
          [ngClass]="{'is-invalid': (updateValueForm.get('name')?.touched ||
          updateValueForm.get('name')?.dirty) &&
          !updateValueForm.get('name')?.valid}">
          <span class="error invalid-feedback" *ngIf="updateValueForm.get('name')?.dirty&&
                                                        updateValueForm.get('name')?.errors">
              <span *ngIf="updateValueForm.get('name')?.errors?.required">
                Name is required!
              </span>
          </span> 

          <label>Description</label>
          <input class="form-control" 
          formControlName="description" 
          placeholder="Description" >
  
          <label>Server Information</label>
          <input class="form-control" formControlName="server_information" placeholder="Server Information" [ngClass]="{'is-invalid': (updateValueForm.get('server_information')?.touched ||
          updateValueForm.get('server_information')?.dirty) &&
          !updateValueForm.get('server_information')?.valid}">
          <span class="error invalid-feedback" *ngIf="updateValueForm.get('server_information')?.dirty&&
                                                        updateValueForm.get('server_information')?.errors">
              <span *ngIf="updateValueForm.get('server_information')?.errors?.required">
                  Server Information is required!
              </span>
          </span> 
        </div>
      </fieldset>
    </form>
    <app-loading-spinner [hiddenLoadingIndicator]="hiddenLoadingIndicator"></app-loading-spinner>
  </div>
  <div class="modal-footer">
    <button [disabled]="updateValueForm.invalid || isDeactive" class="btn btn-secondary" type="button" (click)="onSave()">Save</button>
    <button class="btn btn-secondary" type="button" (click)="onDismiss('Cross click')">Cancel</button>
  </div>