.field-input{
    border: 1px #695656 solid;
    margin: 10px 5px;
    padding: 10px;
    border-style: dashed;
}

.fields-selection {
    margin: 20px 0;
}

.information-content {
    padding: 20px 10px;
}

.variants-content {
    padding: 20px 10px;
}

.modal-body{
    max-height: 80vh;
    overflow: auto;
}